:root{
    --white: #e1e3e8c9;
    --color-orderform: #f4fdaf;
    --color-cartorderform: #e7eb90;
    --inputwidth: 50%;
    --fieldsWidth: 100%;
    --roundcorners: 0.25em;
    --mainFont: "Sniglet";
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--white);
    font-family: "Sniglet";
}

/*########################################## HEADER #################################################*/
body header{
    display: flex;
    height: 20%;
    z-index: 10;
    padding: 0 1%;
    background-color: #FADF63;
    justify-content: center;
    align-items: center;

    position: sticky;
    top: 0;
    overflow: hidden;
    padding-right: 5%;
}
.headerImg{
    width: 9%;
    height: auto;
    float: left;
    margin-right: 2%;
}
.headerList{
    display: flex;
    margin: 0 10%;
    justify-content: flex-start;
    gap: 1%;
}
.headerGroup{
    align-content: center;
    justify-content: center;
    padding-left: 5%;
}
.headerTitle{
    padding-top: 1.75%;
    align-items: center;
    justify-items: center;
    white-space: nowrap;
}
.headerForm, .headerList{
    padding: 0 10%;
    font-size: 1.5vw;
}
.headerForm,.homeHeader,.shopHeader,.contactsHeader{
    list-style-type: none;
    text-decoration: none;
    display: block;
    line-height: 1.5;
    transition: font-weight 0.2s ease;
}
.headerForm,.homeHeader,.shopHeader,.contactsHeader, a:visited{
    color: black;
}
header a{
    display: block;
    padding: 10% 20%;
}
.homeHeader:hover, .shopHeader:hover, .contactsHeader:hover{
    background-color: white;
    font-weight: bold;
    line-height: 1.5;
    transition: font-weight 0.2s ease;
}
.headerForm:hover{
    font-weight: bold;
}

/*########################################## MAIN #################################################*/
main{
    flex: 1; /* makes space for the footer to go down*/
}

/*############ CONTAINER OF THE FORM ITSELF ##############*/
.boxForm{
    margin: 1%;
    padding: 3%;

    font-size: 1.2vw;
}
.boxForm input{
    margin-bottom: 5%;
    border-radius: var(--roundcorners);
}
.boxForm fieldset{
    border-radius: 0.5em;
}
.formFieldset fieldset{
    margin-bottom: 1%;
    border-radius: var(--roundcorners);
}

/*####################### MAINORDERFORM #######################*/
.mainOrderForm{
    background-color: gainsboro;
    display: flex;
    width: 100%;
    gap: 0.5%;
}
.formContainer{
    width: 100%;
    height: 100%;
}

.formFieldset{
    padding: 3% 3% 5% 3%;
    width: 60%;    

    background-color: var(--color-orderform);
}
.name input,.mainAddress1 input,.mainAddress2 input,.mainAddress2 select,.mainContacts input{
    padding: 5%;
}

.formTitle{
    text-align: center;
    font-size: 3vw;
    font-weight: bold;
    margin-bottom: 2%;
}
/*####################### NAME #######################*/
.name{
    display: flex;
    flex-direction: row;
}
.firstName,.lastName{
    display: flex;
    flex-direction: column;
    width: var(--inputwidth);
    margin: 0 1%;
}
/*####################### ADDRESS #######################*/
.mainAddress1{
    display: flex;
    flex-direction: row;
}
.mainAddress2{
    display: flex;
    flex-direction: row;
}
.address1, .address2, .address3, .address4{
    display: flex;
    flex-direction: column;
    margin: 0 1%;
    width: var(--inputwidth);
}
.mainAddress2 select{
    border-radius: var(--roundcorners);
}
/*####################### CONTACT #######################*/
.mainContacts{
    display: flex;
    flex-direction: row;
}
.contacts1,.contacts2{
    display: flex;
    flex-direction: column;
    margin: 0 1%;
    width: var(--inputwidth);
}
/*####################### COURIER AND PAYMENT #######################*/
.courierField,.paymentField,.addonsField{
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1%;
}
.courier1, .courier2, .courier3, .courier4, .courier5,.payment1,.payment2,.payment3,.addons1,.addons2{
    padding: 0 2.5%;
}
/*####################### SPECIAL INSTRUCTIONS AND VOUCHERS #######################*/
.mainSpecInst,.mainVoucher{
    display: flex;
    flex-direction: column;
    margin-left: 1%;
}
#specialInstructions,.mainVoucher{
    height: 15vh;
    resize: none;
    margin-bottom: 1%;
    padding: 1%;
    border-radius: var(--roundcorners);
}
.mainVoucher select{
    height:5vh;
    border-radius: var(--roundcorners);
    padding: 1%;
    margin-bottom: 1%;
}
button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 40%;
    padding: 1%;
}
.clearButton{
    display: flex;
    margin: 0 0 2% 0;
}
/* CART CONTAINER RAAAAAAAAA */
.cartFieldset{
    flex: 1;
    background-color: var(--color-cartorderform);
    display: flex;
    flex-direction: column;
}
.cartHeader{
    background-color: var(--color-orderform);
}
.cartTitle{
    text-align: center;
    margin-top: 5%;
    padding: 2% 10%;

    font-size: 3vw;
    font-weight: bold;
}
.cartHeaderList{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding: 2% 12%;
}
.unfinishedSection{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50% 0;

    color: grey;
}

/*########################################## FOOTER #################################################*/
footer{
    background-color: #FADF63;
    height: 10%;
    padding: 1%;
    text-align: center;

    z-index: 10;

    font-family: var(--fontfamily);
    font-size: 0.75rem;
    color: black;
}
.contacts{
    display: inline-block;
    height: 26px;
    margin: auto;
}
.contacts:hover{
    transform: scale(1.1);
}
.footerMessage{
    margin: 1% 0;
}